data/czech-morfflex-pdt-*.zip
data/models/morphodita
data/morfflex-cz.*.utf8.lemmaID_suff-tag-form.tab.csv.xz

derinet*/derinet*.slex
derinet*/log.txt

derinet09/lemmas_from_morfflex.tsv
derinet09/extra_lemmas.tsv
derinet09/sorted_lemmas.tsv
derinet09/otaznickovi.tsv
derinet09/phantom_lexemes.tsv

derinet091/spravena_anotace_z_19_lenda_2015

derinet-1-3/derinet-1-3.tsv
derinet-1-3/derinet-*.tsv.gz

derinet-*.tsv.gz
